.Lista-table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .Lista-table th, .Lista-table td {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
  }
  
  .Lista-table th {
    background-color: #0d9750;
  }
  
  .Lista-table tr:nth-child(even) {
    background-color: #252424;
  }
 